In [4]:
from pyspark.sql import SparkSession
spark = (SparkSession
.builder.appName('catalog')
.getOrCreate())

In [88]:
path = 'C:/Users/krkusuk/Study/spark/sparkparactice/temp'
#Unmanaged table. spark won't delete the data
! powershell "rm -R 'C:/Users/krkusuk/Study/spark/sparkparactice/temp'" 
spark.sql(r'CREATE DATABASE IF NOT EXISTS catalog_test')
spark.sql(r'USE catalog_test')
spark.sql(r'DROP TABLE IF EXISTS X')
spark.sql(r' CREATE TABLE X (Name STRING, age INT) USING json OPTIONS (PATH "{}")'.format(path))
spark.sql(r'INSERT INTO X VALUES ("krishan",30),("sweta",24)')

DataFrame[]

In [89]:
spark.catalog.listDatabases()

[Database(name='catalog_test', description='', locationUri='file:/C:/Users/krkusuk/Study/spark/sparkparactice/spark-warehouse/catalog_test.db'),
 Database(name='default', description='default database', locationUri='file:/C:/Users/krkusuk/Study/spark/sparkparactice/spark-warehouse')]

In [90]:
spark.catalog.listTables()

[Table(name='x', database='catalog_test', description=None, tableType='EXTERNAL', isTemporary=False)]

In [91]:
spark.catalog.listColumns('x')

[Column(name='Name', description=None, dataType='string', nullable=True, isPartition=False, isBucket=False),
 Column(name='age', description=None, dataType='int', nullable=True, isPartition=False, isBucket=False)]

In [92]:
#CACHE TABLE <table-name>
spark.sql('select * from x').show()

+-------+---+
|   Name|age|
+-------+---+
|krishan| 30|
|  sweta| 24|
+-------+---+

### Save a parquet

In [96]:
#python
spark.sql('select * from x').write.format('parquet').save(f'{path}\parquet_python')

In [109]:
#sql
sqlpath = f'{path}\parquet_python'
tv = spark.sql('select * from x').createOrReplaceTempView('tv')
spark.sql(f'CREATE TABLE tv \
USING parquet OPTIONS (PATH "{sqlpath}") AS  SELECT * FROM tv')

DataFrame[]

In [ ]:
select * fo

### Read From parquet

#### Python

In [94]:
spark.read.load(f'{path}\parquet').show()

+-------+---+
|   Name|age|
+-------+---+
|krishan| 30|
|  sweta| 24|
+-------+---+

#### SQL

In [104]:
spark.sql(f'CREATE or REPLACE TEMPORARY VIEW tv \
USING PARQUET OPTIONS (PATH "{path}/parquet")')

DataFrame[]

In [105]:
spark.sql('select * from tv').show()

+-------+---+
|   Name|age|
+-------+---+
|krishan| 30|
|  sweta| 24|
+-------+---+