In [8]:
from pyspark.sql import SparkSession
spark = (SparkSession
         .builder
         .appName('SparkSql')
#          .config("spark.sql.warehouse.dir", r"C:\Users\krkusuk\Study\spark\warehouse")
#          .enableHiveSupport()
         .getOrCreate())

In [56]:
# spark.stop()

In [10]:
file =  '../Rural_Atlas_Update20/People.csv'
# columns = !powershell cat {file} -First 1
# for line in columns[0].split(','):
#     print(line)

In [11]:
people_df = spark.read.csv(file, inferSchema=True, header=True)
pop_df_2010 = people_df.select(
    'state', 'county','TotalPopEst2010','WhiteNonHispanicPct2010','HispanicPct2010', 'AsianNonHispanicPct2010')
pop_df_2010.show(5)

+-----+-------------+---------------+-----------------------+---------------+-----------------------+
|state|       county|TotalPopEst2010|WhiteNonHispanicPct2010|HispanicPct2010|AsianNonHispanicPct2010|
+-----+-------------+---------------+-----------------------+---------------+-----------------------+
|   US|United States|      309338421|                  63.75|          16.35|                   4.69|
|   AL|      Alabama|        4785448|                  67.04|           3.88|                   1.11|
|   AL|      Autauga|          54754|                  77.25|            2.4|                   0.86|
|   AL|      Baldwin|         183111|                   83.5|           4.38|                   0.74|
|   AL|      Barbour|          27330|                  46.75|           5.05|                   0.39|
+-----+-------------+---------------+-----------------------+---------------+-----------------------+
only showing top 5 rows

# SaveAsTable and load in sql

In [12]:
pop_df_2010.write.saveAsTable('2010population', mode='overwrite')

In [13]:
sql_df = spark.sql('select * from 2010population')
sql_df.show(5)

+-----+-------------+---------------+-----------------------+---------------+-----------------------+
|state|       county|TotalPopEst2010|WhiteNonHispanicPct2010|HispanicPct2010|AsianNonHispanicPct2010|
+-----+-------------+---------------+-----------------------+---------------+-----------------------+
|   US|United States|      309338421|                  63.75|          16.35|                   4.69|
|   AL|      Alabama|        4785448|                  67.04|           3.88|                   1.11|
|   AL|      Autauga|          54754|                  77.25|            2.4|                   0.86|
|   AL|      Baldwin|         183111|                   83.5|           4.38|                   0.74|
|   AL|      Barbour|          27330|                  46.75|           5.05|                   0.39|
+-----+-------------+---------------+-----------------------+---------------+-----------------------+
only showing top 5 rows

# Temporary View

In [49]:
#In python
pop_df_2010.createOrReplaceTempView('pop2010_df_temp_view')

In [50]:
#in SQL
spark.sql('CREATE or REPLACE TEMP VIEW  pop2010_df_gt10hispanic_temp_view AS \
          SELECT * FROM pop2010_df_temp_view WHERE HispanicPct2010>10')

DataFrame[]

In [51]:
spark.sql('select * from pop2010_df_gt10hispanic_temp_view').show(5)

+-----+--------------+---------------+-----------------------+---------------+-----------------------+
|state|        county|TotalPopEst2010|WhiteNonHispanicPct2010|HispanicPct2010|AsianNonHispanicPct2010|
+-----+--------------+---------------+-----------------------+---------------+-----------------------+
|   US| United States|      309338421|                  63.75|          16.35|                   4.69|
|   AL|        DeKalb|          71159|                  81.56|          13.63|                   0.23|
|   AL|      Franklin|          31745|                  79.64|          14.86|                   0.16|
|   AL|      Marshall|          93124|                  83.92|          12.08|                   0.51|
|   AK|Aleutians East|           3166|                  13.53|          12.26|                  35.43|
+-----+--------------+---------------+-----------------------+---------------+-----------------------+
only showing top 5 rows

In [54]:
spark.sql('DROP VIEW IF EXISTS pop2010_df_gt10hispanic_temp_view')

DataFrame[]

### FInd counties with more hispanic people than white

In [15]:
spark.sql(' SELECT state, \
          county, \
          WhiteNonHispanicPct2010,  \
          HispanicPct2010 ,\
          HispanicPct2010/TotalPopEst2010 AS hispanic_ratio \
          FROM pop2010_df_temp_view \
          WHERE HispanicPct2010>WhiteNonHispanicPct2010 \
          ORDER BY hispanic_ratio DESC').show(10)

+-----+---------+-----------------------+---------------+--------------------+
|state|   county|WhiteNonHispanicPct2010|HispanicPct2010|      hispanic_ratio|
+-----+---------+-----------------------+---------------+--------------------+
|   TX|   Kenedy|                  20.67|          76.68| 0.18388489208633096|
|   PR|  Culebra|                    7.7|          91.75| 0.05041208791208791|
|   TX|Culberson|                  21.02|          76.19|0.031693011647254576|
|   TX|  Edwards|                   47.3|           51.3|0.025662831415707854|
|   TX| Hudspeth|                  18.07|          79.63|0.022934907834101383|
|   CO| Costilla|                  30.82|          66.03|0.018710682913006517|
|   TX|   Reagan|                   36.2|          60.91|0.018165821652251713|
|   TX| Jim Hogg|                    6.3|          92.58|0.017507564296520423|
|   TX| Crockett|                  35.28|          63.24| 0.01708727370980816|
|   NM|Guadalupe|                  16.07|          79.58|0.016957170253569145|
+-----+---------+-----------------------+---------------+--------------------+
only showing top 10 rows

### Find states with more hispanic people than white in 2010

#### pyspark

In [16]:
from pyspark.sql.functions import *

In [17]:
(sql_df.select('state', 'county', 'TotalPopEst2010',
              (col('TotalPopEst2010')*col('HispanicPct2010')/100).alias('TotalHispanic') ,
             (col('TotalPopEst2010')*col('WhiteNonHispanicPct2010')/100).alias('TotalWhiteNonHispanic'))
 .groupBy('state').agg(
     sum('TotalPopEst2010').alias('TotalPopEst2010'),
     sum('TotalHispanic').alias('TotalHispanic'),
     sum('TotalWhiteNonHispanic').alias('TotalWhiteNonHispanic'),
     )
 .select('state','TotalPopEst2010',
         (col('TotalHispanic')/col('TotalPopEst2010')*100).alias('HispanicPct'),
        (col('TotalWhiteNonHispanic')/col('TotalPopEst2010')*100).alias('WhiteNonHispanicPct'))
 .where(col('HispanicPct')> col('WhiteNonHispanicPct'))
 .sort('HispanicPct',ascending=False)
).show(5)

+-----+---------------+-----------------+-------------------+
|state|TotalPopEst2010|      HispanicPct|WhiteNonHispanicPct|
+-----+---------------+-----------------+-------------------+
|   PR|        7443050|98.99912663088385|   0.72163327399386|
|   NM|        4129176|46.29742528775718|  40.49270082941487|
+-----+---------------+-----------------+-------------------+

#### SQL

In [18]:
spark.sql(
    'select state, \
sum(TotalPopEst2010) as TotalPopEst2010, \
    sum(totalhispanic) / sum(TotalPopEst2010) * 100 as hispanic_pct, \
    sum(totalwhite) / sum(TotalPopEst2010) * 100 as white_pct \
    from \
        (select state, TotalPopEst2010, \
        TotalPopEst2010 * HispanicPct2010 / 100 as totalhispanic, \
        TotalPopEst2010 * WhiteNonHispanicPct2010 / 100 as totalwhite \
        from pop2010_df_temp_view) \
    group by state \
    having hispanic_pct > white_pct' 
).show()

+-----+---------------+-----------------+-----------------+
|state|TotalPopEst2010|     hispanic_pct|        white_pct|
+-----+---------------+-----------------+-----------------+
|   NM|        4129176|46.29742528775718|40.49270082941487|
|   PR|        7443050|98.99912663088385| 0.72163327399386|
+-----+---------------+-----------------+-----------------+

# Create DB

In [22]:
spark.sql('CREATE DATABASE IF NOT EXISTS people_db_2')
spark.sql('USE people_db_2')

DataFrame[]

# Managed and unmanaged Tables

In [23]:
hh_df= people_df.select('AvgHHSize',
'FemaleHHPct',
'HH65PlusAlonePct',
'OwnHomePct',
'TotalHH',
'NonEnglishHHPct')
hh_df.show(5)

+---------+-----------+----------------+-----------+---------+---------------+
|AvgHHSize|FemaleHHPct|HH65PlusAlonePct| OwnHomePct|  TotalHH|NonEnglishHHPct|
+---------+-----------+----------------+-----------+---------+---------------+
|     2.63|12.70110164|     10.52845279|63.81868061|118825921|    4.464884392|
|     2.55|14.77684811|     11.20841064|68.57437544|  1856695|    1.149407953|
|     2.59|11.40875843|     11.38026028| 73.2877363|    21054|    0.750451221|
|     2.63|9.426923936|     12.84594066|72.85933826|    76133|    0.901054733|
|     2.54|19.36677184|     13.85050593|62.50680013|     9191|    0.816015668|
+---------+-----------+----------------+-----------+---------+---------------+
only showing top 5 rows

## Managed Table
File path is decided by sparksession

### Using python

In [24]:
hh_df.write.saveAsTable('hh_df_from_python')

### Using sql

C:\Users\krkusuk\software\winutils\bin\winutils.exe chmod 777 /tmp/hive

In [44]:
# spark.sql('create table if not exists hh_df_from_sql \
# (AvgHHSize INT, FemaleHHPct FLOAT, HH65PlusAlonePct FLOAT, OwnHomePct FLOAT, TotalHH INT, NonEnglishHHPct FLOAT)')

## Unmanaged Table

By contrast, you can create an unmanaged table from your own data sources, say Parquet, CSV or JSON files stored in a file store accessible to your Spark application.

### Using Python

In [30]:
hh_df.write.option('path',r'C:\\users\krkusuk\tmp').saveAsTable('hh_df_from_python_unmanaged')

In [34]:
spark.sql('select * from hh_df_from_python_unmanaged').show(5)

+---------+-----------+----------------+-----------+---------+---------------+
|AvgHHSize|FemaleHHPct|HH65PlusAlonePct| OwnHomePct|  TotalHH|NonEnglishHHPct|
+---------+-----------+----------------+-----------+---------+---------------+
|     2.63|12.70110164|     10.52845279|63.81868061|118825921|    4.464884392|
|     2.55|14.77684811|     11.20841064|68.57437544|  1856695|    1.149407953|
|     2.59|11.40875843|     11.38026028| 73.2877363|    21054|    0.750451221|
|     2.63|9.426923936|     12.84594066|72.85933826|    76133|    0.901054733|
|     2.54|19.36677184|     13.85050593|62.50680013|     9191|    0.816015668|
+---------+-----------+----------------+-----------+---------+---------------+
only showing top 5 rows

### Using SQL

In [41]:
spark.sql(
'''
create table if not exists hh_df_from_sql_unmanaged
(AvgHHSize INT, FemaleHHPct FLOAT, HH65PlusAlonePct FLOAT, OwnHomePct FLOAT, TotalHH INT, NonEnglishHHPct FLOAT)
USING json OPTIONS (PATH 'path_to_us_flights_json_file')
'''
)

DataFrame[]

In [42]:
spark.sql('select * from hh_df_from_sql_unmanaged').show(5)

+---------+-----------+----------------+----------+-------+---------------+
|AvgHHSize|FemaleHHPct|HH65PlusAlonePct|OwnHomePct|TotalHH|NonEnglishHHPct|
+---------+-----------+----------------+----------+-------+---------------+
+---------+-----------+----------------+----------+-------+---------------+

# Temp View